img{
    height: 4.5em;
    padding: 10px;
}
.company{
    font-size: 2.5em;
    color:#27b7c1 ;
}
header{
    display: flex;
    align-items: center;
}
#banner {
    position: relative;
    margin: 0px auto 50px auto;
    text-align: center;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/banner.jpg);
    background-size: cover;
    text-align: center;
 }
form {
    margin-top: 50px;
    height: 100px;
  } 
  h1 {
    padding-top: 150px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-align: center;
    color: #fff;
    margin: auto;
  }
  #city {
    width: 286px;
    height: 46px;
    border-radius: 4px;
    border: solid 2.5px #ffffff;
    background-color: inherit;
    opacity: 0.73;
    font-family: Source Sans Pro;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
  }
  #button {
    width: 140px;
    height: 46px;
    border-radius: 4px;
    background-color: #27b7c1;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 0.94;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  }

  .container {
    max-width: 900px;
    margin: auto;
    /* visibility: hidden; */
  }
  #destination {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: left;
    color: #27b7c1;
  }
